<a class="home" routerLink="/">
    <h1>
        P2evik
    </h1>
</a>
<div class="security">
    @if (!authenticationService.isLoggedIn()) {
        <button
                data-testid="btn-sign-in"
                (click)="authenticationService.login()"
        >
            Sign In
        </button>
    } @else {
        <div class="flex items-center">
            <p class="profile" data-testid="p-username">
                Welcome {{ authenticationService.userName }}
            </p>
            <button
                    (click)="authenticationService.logout()"
                    data-testid="btn-sign-out">
                Sign Out
            </button>
        </div>
    }

    <button
            data-testid="btn-sign-fetch"
            (click)="fetchUsers()"
    >fetch</button>
</div>