.choose-group-container {
  margin: 40px;
}

mat-grid-tile {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}