<mat-toolbar class="sticky-header mat-background-warn">
    <a class="home" routerLink="/">
        <h1>P2evik</h1>
    </a>

    <div class="loginButtons">
        <ng-container *ngIf="!authenticationService.isLoggedIn(); else loggedIn">
            <button mat-flat-button data-testid="btn-sign-in" routerLink="/login" color="accent">
                Sign In
            </button>
        </ng-container>

        <ng-template #loggedIn>
            <div class="security">
                <span>Welcome {{ authenticationService.userName }}</span>
                <button mat-flat-button (click)="authenticationService.logout()" data-testid="btn-sign-out" color="warn">
                    Sign Out
                </button>
            </div>
        </ng-template>
    </div>
</mat-toolbar>
